# Dataset
[Spambase](https://archive.ics.uci.edu/ml/machine-learning-databases/spambase/spambase.data)

In [21]:
# http://scikit-learn.org/stable/modules/generated/sklearn.naive_bayes.MultinomialNB.html
from sklearn.naive_bayes import MultinomialNB

In [22]:
import pandas as pd
import numpy as np

In [23]:
# reading data

data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/spambase/spambase.data',header=None)

In [24]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.00,0.000,0.0,0.778,0.000,0.000,3.756,61,278,1
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.00,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1

In [25]:
# To Matrix

data = data.as_matrix()

np.random.shuffle(data)

In [26]:
# Splitting data

X = data[:,:48]
Y = data[:,-1] # last col

print(X.shape)
print(Y.shape)

(4601, 48)
(4601,)

In [27]:

# last 100 rows will be test


Xtrain = X[:-100,]
print(Xtrain.shape)
Ytrain = Y[:-100,]
print(Ytrain.shape)
Xtest = X[-100:,]
print(Xtest.shape)
Ytest = Y[-100:,]
print(Ytest.shape)

(4501, 48)
(4501,)
(100, 48)
(100,)

In [28]:
# build model
model = MultinomialNB()
model.fit(Xtrain, Ytrain)

print("Classification rate for NB:", model.score(Xtest, Ytest))

Classification rate for NB: 0.89

In [29]:
# Lets try another model

from sklearn.ensemble import AdaBoostClassifier
model = AdaBoostClassifier()
model.fit(Xtrain, Ytrain)
print("Classification rate for AdaBoost:", model.score(Xtest, Ytest))

Classification rate for AdaBoost: 0.92